.container {
}

.welcomeDetails {
  display: flex;
  flex-direction: column;
  --content-margin-bottom: 2rem;

  & > * {
    margin-bottom: var(--content-margin-bottom);
  }

  .buttonSet {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      border: none;
      margin: 5px;
    }

    a:nth-child(1) {
      background-color: #b2ddb7;

      &:hover {
        background-color: greenyellow;
      }
    }

    a:nth-child(2) {
      background-color: #c5aac8;

      &:hover {
        background-color: blueviolet;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .welcomeDetails {
    --content-margin-bottom: 1rem;

    h2,
    h3,
    h4,
    h5 {
      font-size: 1rem;
    }
  }
}

.socialLink {
  border: none;
}
