.container {
  display: grid;
  grid-template-columns: 5fr 8fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  width: 100vw;

  --content-padding: 3rem;
  --title-fontsize: 5rem;

  & > *:nth-child(3) {
    grid-column: 2;
    grid-row: 3 / 8;
  }

  & > * {
    padding: var(--content-padding);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    span {
      background-color: #d9e1ea;
      padding: 5px;
      border-radius: 1rem;
      white-space: nowrap;
    }
  }
}
@media screen and (max-width: 1300px) {
  .container {
    --title-fontsize: 3rem;
    --content-padding: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    --title-fontsize: 2rem;
    --content-padding: 1rem;
    height: unset;
    min-height: 100vh;
  }
}

.poster {
  grid-column: 1;
  grid-row: 1/8;
}
@media screen and (max-width: 900px) {
  .poster {
    height: 50vh;
  }
}

.title {
  grid-column: 2;
  grid-row: 2;
  font-size: var(--title-fontsize);
}

.actions {
  grid-column: 3;
  grid-row: 1/8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .actions {
    flex-direction: row;
  }
}
